Repository tomgachter/sg-jobs, changes with the owners that CODEOWNERS names for each.
All owners: @sgops/engineering, @sgops/frontend, @sgops/platform

CODEOWNERS:

# Default owners for the SG Jobs plugin repository
* @sgops/engineering

# Frontend assets
/src/Ui/Board/assets/ @sgops/frontend
/src/Ui/JobSheet/assets/ @sgops/frontend

# Infrastructure integrations
/src/Infra/ @sgops/platform

Update package.json
  package.json
Owners: @sgops/engineering

Update package.json
  package.json
Owners: @sgops/engineering

Create build.yml
  .github/workflows/build.yml
Owners: @sgops/engineering

Update build.yml
  .github/workflows/build.yml
Owners: @sgops/engineering

Update package.json
  package.json
Owners: @sgops/engineering

Update package.json
  package.json
Owners: @sgops/engineering

Update build.yml
  .github/workflows/build.yml
Owners: @sgops/engineering

Update build.yml
  .github/workflows/build.yml
Owners: @sgops/engineering

Improve settings resilience and add health endpoint
  README.md
  composer.json
  src/Admin/SettingsPage.php
  src/Bootstrap.php
  src/Http/Api/HealthController.php
  src/Infra/Security/JwtService.php
  src/Ui/JobSheet/JobSheetController.php
Owners: @sgops/engineering, @sgops/platform

chore: add release workflow and lockfiles
  .gitattributes
  .github/workflows/build.yml
  .github/workflows/release.yml
  .gitignore
  composer.lock
  docs/operations-runbook.md
  package-lock.json
Owners: @sgops/engineering

Enhance CI workflows and developer tooling
  .eslintrc.cjs
  .gitattributes
  .github/workflows/release.yml
  .gitignore
  Makefile
  README.md
  composer.json
  composer.lock
  package-lock.json
  package.json
  phpstan-baseline.neon
  phpstan.neon.dist
  src/Ui/Board/assets/board.tsx
  src/Ui/JobSheet/assets/jobsheet.tsx
  tsconfig.json
Owners: @sgops/engineering, @sgops/frontend

Fix jobs board shortcode asset handling
  sg-jobs.php
  src/Bootstrap.php
  src/Ui/Board/BoardController.php
Owners: @sgops/engineering

Improve static analysis and linting setup
  .eslintrc.cjs
  composer.json
  composer.lock
  package-lock.json
  package.json
  phpstan.neon.dist
  public/sw.js
  src/Admin/SettingsPage.php
  src/App/JobsService.php
  src/App/Sync/CalDavWatcher.php
  src/App/TeamsService.php
  src/Bootstrap.php
  src/Domain/Entity/Job.php
  src/Domain/Entity/JobPosition.php
  src/Domain/ValueObjects/PhoneList.php
  src/Http/Api/HealthController.php
  src/Http/Api/JobsController.php
  src/Http/Api/MagicLinkController.php
  src/Http/Middleware/Auth.php
  src/Infra/Bexio/BexioClient.php
  src/Infra/Bexio/BexioService.php
  src/Infra/CalDAV/CalDAVClient.php
  src/Infra/Logging/Logger.php
  src/Infra/Queue/QueueService.php
  src/Infra/Security/JwtService.php
  src/Ui/Board/assets/board.tsx
  src/Ui/JobSheet/assets/jobsheet.tsx
  src/Util/Formatting.php
  stubs/wordpress.php
  tsconfig.eslint.json
Owners: @sgops/engineering, @sgops/platform, @sgops/frontend

Enhance health diagnostics
  README.md
  src/Http/Api/HealthController.php
  src/Infra/Bexio/BexioService.php
Owners: @sgops/engineering, @sgops/platform

Fix npm lockfile to unblock CI builds
  package-lock.json
Owners: @sgops/engineering

Increase PHPStan memory limit for analysis
  composer.json
Owners: @sgops/engineering

Update composer lock with required packages
  composer.lock
Owners: @sgops/engineering

docs: update changelog for recent work
  CHANGELOG.md
Owners: @sgops/engineering

Pin TypeScript to supported version
  .eslintrc.cjs
  composer.json
  composer.lock
  package-lock.json
  package.json
  phpstan.neon.dist
  public/sw.js
  src/Admin/SettingsPage.php
  src/App/JobsService.php
  src/App/Sync/CalDavWatcher.php
  src/App/TeamsService.php
  src/Bootstrap.php
  src/Domain/Entity/Job.php
  src/Domain/Entity/JobPosition.php
  src/Domain/ValueObjects/PhoneList.php
  src/Http/Api/HealthController.php
  src/Http/Api/JobsController.php
  src/Http/Api/MagicLinkController.php
  src/Http/Middleware/Auth.php
  src/Infra/Bexio/BexioClient.php
  src/Infra/Bexio/BexioService.php
  src/Infra/CalDAV/CalDAVClient.php
  src/Infra/Logging/Logger.php
  src/Infra/Queue/QueueService.php
  src/Infra/Security/JwtService.php
  src/Ui/Board/assets/board.tsx
  src/Ui/JobSheet/assets/jobsheet.tsx
  src/Util/Formatting.php
  stubs/wordpress.php
  tsconfig.eslint.json
Owners: @sgops/engineering, @sgops/platform, @sgops/frontend

Resolve merge conflicts with updated board and jobsheet
  .eslintrc.cjs
  composer.json
  phpstan.neon.dist
  src/Infra/Bexio/BexioService.php
  src/Ui/Board/assets/board.tsx
  src/Ui/JobSheet/assets/jobsheet.tsx
  tsconfig.json
Owners: @sgops/engineering, @sgops/platform, @sgops/frontend

Normalize board team URLs
  src/Ui/Board/BoardController.php
Owners: @sgops/engineering

Fix static analysis config and migration autoloading
  phpstan.neon.dist
  src/Http/Api/HealthController.php
  src/Infra/DB/Migrations/Migration001CreateJobsTable.php
  src/Infra/DB/Migrations/Migration002CreateJobPositionsTable.php
  src/Infra/DB/Migrations/Migration003CreateTeamsTable.php
  src/Infra/DB/Migrations/Migration004CreateUsersTeamsTable.php
  src/Infra/DB/Migrations/Migration005CreateJobAuditTable.php
Owners: @sgops/engineering, @sgops/platform

Handle missing Composer autoload
  README.md
  sg-jobs.php
Owners: @sgops/engineering

Automate packaging with GitHub Action
  .github/workflows/release-package.yml
  README.md
  sg-jobs.php
Owners: @sgops/engineering

Gracefully handle missing JWT secret
  .github/workflows/release-package.yml
  README.md
  sg-jobs.php
  src/App/JobsService.php
  src/Bootstrap.php
  src/Infra/Security/JwtService.php
Owners: @sgops/engineering, @sgops/platform

Fix shortcode asset loading and normalize teams
  sg-jobs.php
  src/Admin/SettingsPage.php
  src/Bootstrap.php
  src/Http/Api/HealthController.php
  src/Ui/Board/BoardController.php
  src/Ui/JobSheet/JobSheetController.php
Owners: @sgops/engineering

chore(deps): fix npm Dependabot alerts via audit fix + targeted minimatch override
  package-lock.json
  package.json
Owners: @sgops/engineering
